body {
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.scan-area {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: orange;
    text-align: center;
}

.result {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid orange;
}

#barcode-input {
    opacity: 0;
    position: absolute;
}
